---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: alertmanager
  namespace: observability
spec:
  instanceSelector:
    matchLabels:
      dashboards: grafana
  datasource:
    name: Alertmanager
    type: alertmanager
    access: proxy
    url: http://kube-prometheus-stack-alertmanager.observability.svc.cluster.local:9093
    jsonData:
      implementation: prometheus
    editable: true
