---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: grafana
  namespace: observability
spec:
  endpoints:
    - dnsName: grafana.obs.kalde.in
      recordTTL: 1
      recordType: CNAME
      targets:
        - external.obs.kalde.in
