---
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  namespace: observability
  labels:
    dashboards: grafana
spec:
  config:
    auth:
      disable_login_form: false
    auth.anonymous:
      enabled: false
    server:
      root_url: https://grafana.obs.kalde.in
    log:
      mode: console
      level: warn

  deployment:
    spec:
      replicas: 1
      template:
        spec:
          containers:
            - name: grafana
              resources:
                requests:
                  cpu: 100m
                  memory: 256Mi
                limits:
                  memory: 512Mi

  # Persistent storage for Grafana data
  persistentVolumeClaim:
    spec:
      storageClassName: nfs-client
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 10Gi
