---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nfs-subdir-external-provisioner
  namespace: storage
spec:
  interval: 1h
  chart:
    spec:
      chart: nfs-subdir-external-provisioner
      version: 4.0.18
      sourceRef:
        kind: HelmRepository
        name: nfs-subdir-external-provisioner
        namespace: storage
      interval: 1h
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    nfs:
      server: 192.168.10.3
      path: /volume1/cluster
      mountOptions:
        - nfsvers=4.1
        - hard
        - timeo=600
    storageClass:
      create: true
      name: nfs-client
      defaultClass: true
      reclaimPolicy: Retain
      archiveOnDelete: true
      accessModes: ReadWriteMany
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi
