---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-operator
  namespace: observability
spec:
  interval: 1h
  chart:
    spec:
      chart: grafana-operator
      version: v5.20.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: observability
      interval: 1h
  install:
    remediation:
      retries: 3
    crds: CreateReplace
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
    crds: CreateReplace
  values:
    # Enable watching all namespaces
    watchNamespaces: "observability"

    # Operator deployment
    deployment:
      replicas: 1
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          memory: 256Mi
